html {
    font-family: Helvetica, sans-serif;
    background: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    background-color: #97b1d2;

    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: 2em;
}

header {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 8px;
    justify-content: center;

    box-sizing: border-box;

    margin: 0;
    padding: 1.2em;
    border: none;
    border-bottom: 2px solid #000;

    background-color: #7a8ea9;
}

nav a {
    box-sizing: border-box;

    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    padding: 8px;
    padding-left: 16px;

    min-width: 10em;

    border: 3px solid #679;

    /* border-bottom: 2px solid rgba(0, 0, 0, 0); */

    color: white;
}

nav a:hover {
    border-bottom: 3px solid #fff;
}

article {
    display: block;
    box-sizing: border-box;
    max-width: 84rem;
    min-height: 80%;
    margin-top: 2rem;
    margin-left: auto;
    margin-bottom: 3rem;
    margin-right: auto;
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 3.5rem;

    background-color: #fff;

    font-size: 1.2rem;

    box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.20);
}

article figcaption {
    text-align: center;
    font-size: 0.85em;
    font-style: italic;
    color: #555;
}

article figure {
    display: block;
    margin: 2em;
    padding: 0;
}

article figcaption {

}

article figure:nth-child(odd) {
    float: left;
    margin-left: 0;
}

article figure:nth-child(even) {
    float: right;
    margin-right: 0;
}

article p:first-of-type:first-letter {
    font-size: 2.5em;
    font-weight: bold;
}

article p {
    text-indent: 4em;
}

/*
    This is really not ideal. Grid looked *promising* with grid-auto-flow: column dense, but without a fixed height or a fixed number of rows, what I get is either one row where we keep stacking up columns to the right (effectively making a row wider than the screen), or a single nicely-packed column.

    So sadly I've gone back to flex, where I can lay out cards in rows, but unfortunately have gaps underneath when some cards are taller than others.
*/

#card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    /*margin: 30px;*/
    padding-bottom: 3em;
}

.card {
    box-sizing: border-box;
    display: block;
    width: 600px;
    border: 2px solid #777;
    border-radius: 1em 1em;
    padding: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

    background-color: white;

    box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.20);
    overflow: hidden;
}

.card > h2 {
    margin: 0.25em;
    text-align: center;
    padding: 0;
}

.card figure {
    max-width: 100%;
    margin: 0;
    margin-bottom: 2em;
    padding: 0;
}

.card figure > img {
    width: 100%;
    aspect-ratio: 0.75;
    background-color: #2f4c71;
    object-fit: contain;
    margin: 0;
    margin-bottom: 0.25em;

    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.20);
}

.card figcaption {
    font-size: 0.9rem;
    font-style: italic;
    padding: 0.5rem;
}

.wide-card {
    display: block;
    min-height: 5em;
    max-width: 60em;
    border: 2px solid #777;
    border-radius: 1em 1em;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;

    background-color: white;

    box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.20);
}

.test-tall-1 {
    min-height: 30em;
}

.test-tall-2 {
    min-height: 40em;
}

footer {
    position: fixed;
    bottom:0;
    width: 100%;
    height: 1.8rem;
    margin: 0;
    margin-top: 1em;
    padding: 4px;
    border: none;
    border-top: 2px solid #777;
    background: white;
    box-shadow: 0px -3px 4px 0px rgba(0,0,0,0.20);
    font-style: italic;
    font-size: 0.9em;
}


/* Article breakpoint - under about 1100px we wind up losing a good article-style page layout.
 * Let's get rid of some of the margins, gutters, and padding to retain the page for as long as
 * we can.
*/

@media screen and (max-width: 1200px) {
    article {
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 1em;
    }

    article figure {
        margin: 1em;
        margin-top: 10px;
    }
}

/* Mobile Article breakpoint - at around 900px we've got about equal space alloted to the floated
 * image as we do to the text. Any smaller and the image really starts "taking over", reducing
 * the readability of the text. So instead, stack the figure, but limit its size to around 700px
 * so that it doesn't push *all* the textual content off the screen.
 */
@media screen and (max-width: 900px) {
    article figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        float: none !important;
        width: 100%;
        max-width: 700px;
        margin: 0;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    footer {
        height: initial;
    }
}

/* Cards breakpoint: because we demand 30px between cards, 600+600+30 = 1230px is when we stop
 * being able to lay cards out next to each other.
 *
 * So instead, we remove the rounded edges and throw the sides of the card against the edges of the screen.
 * We still keep the size limits on the figures so that there's still some whitespace to create a restful
 * environment to read the cards and admire the images.
 */
@media (900px < width < 1230px) {
    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        border-radius: 0;
    }

    .card figure {
        display: inline-block;
        margin: 0;
        width: 600px;
    }

    .card figcaption {
        font-size: 12pt;
    }
}

/* Mobile Cards breakpoint - Below a certain size, we start to approach the aspect ratio of the cards themselves,
 * and the whitespace on the left and right stops making sense. instead, the cards collapse entirely and the figure stretches to the entire screen width. Unfortunately in a typical mobile setting, this pushes the text off the bottom.
 */

@media (width <= 900px) {
    .card {
        width: 100%;
        border-radius: 0;
    }

    .card figure {
        margin-bottom: 12px;
    }

    .card figcaption {
        font-size: 12pt;
        margin-bottom: 0px;
    }
}


