.splash-entity {
    display: block;
    border: 2px solid #777;
    border-radius: 16px 16px;
    margin: 0.5em;
    padding: 1em;
    min-width: 30em;
    min-height: 8em;

    background-color: white;
}

.splash-entity:nth-child(1) {
    position: absolute;
    left: 40%;
    top: 1em;
}

.splash-entity:nth-child(2) {
    position: absolute;
    left: 20%;
    top: 14em;
}

.splash-entity:nth-child(3) {
    position: absolute;
    left: 10%;
    top: 27em;
}

.splash-portrait {
    position: absolute;
    left: 60%;
    top: 12em;

    display: block;
    border: none;
    text-align: center;
    aspect-ratio: 1.0;
    max-height: 450px;
    font-size: 2em;
}

.splash-portrait img {
    display: block;
    width: 8em;
    border: 2px solid #000;
    border-radius: 50% 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
